<!doctype html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/meeting.css">
    <title>Läkarbesök | {{ patientFirstName }} {{ patientLastName }}</title>
    <script src="/ckeditor.js"></script>
</head>
<nav class="navigation">
    <div class="grid-container">
        <div class="grid-item1">
            <img src="/images/logo.png" alt="logo" class="logo-img">
        </div>
        <div class="grid-item2 small-grid-container">
            {{ nav | raw }}
        </div>
    </div>
</nav>
<body>
<div class="main-content">
    <a href="/home" class="go-back"><h3>🡰 Tillbaka</h3></a>
    <div class="meeting-container">
        <h2>Nytt möte för {{ patientLastName }}, {{ patientFirstName }}</h2><br><br>
        <img src="/images/meeting-icon.png" alt="" class="meeting-icon" >
        <p><b>Antecknad av:</b><br> {{ personellLastName }}, {{ personellFirstName }}</p>
        <br><hr><br><br>
        <form action="/meeting/" method="post">
            <div class="form-container">
                <div class="form-item">
                    <label><b>Patient:</b> {{ patientLastName }}, {{ patientFirstName }}</label><br>
                    <label>{{ personNumber }}</label><br><br>
                    <label><b>Vitala parametrar:</b></label><br>
                    <label>Blodgrupp: {{ bloodGroup }}</label><br><br>
                    <label for="blodtryck">Föregående blodtryck: {{ bloodPreasure }}</label><br>
                    <input type="text" id="blodtryck" placeholder="Ange Blodtryck" name="blodtryck"><br><br>
                    <label for="puls">Föregående puls: {{ pulse }}</label><br>
                    <input type="text" id="puls" placeholder="Ange Puls" name="puls"><br><br>
                    <label for="mattnad">Föregående blodmättnad: {{ mattnad }}</label><br>
                    <input type="text" id="mattnad" name="mattnad" placeholder="Ange Blodmättnad"><br><br>
                </div>
                <div class="form-item">
                    <label><b>Tidigare diagnoser:</b></label><br>
                    <label>{{ diagnoses }}</label><br><br>
                    <label for="diagnosis">Diagnos:</label><br>
                    <select name="diagnosis" id="diagnosis">
                        {% for item in ICD %}
                            <option value="{{ item.id }}">{{ item.expansion }}</option>
                        {% endfor %}
                    </select><br><br>
                    <label for="comment">Kommentar:</label><br>
                    <textarea class="comment-area" name="comment" id="comment" cols="68" rows="10"></textarea><br><br>
                    <input type="hidden" name="patientId" value="{{ id }}">
                    <input class="save-button" type="submit" value="Spara">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="editor"></div>
<script>
ClassicEditor
.create( document.querySelector( '#comment' ) )
.then( editor => {
console.log( editor );
} )
.catch( error => {
console.error( error );
} );
</script>
</body>
</html>