<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/profile.css">
    <title>Profil | {{ firstname }} {{ lastname }}</title>
</head>
<body>
<nav class="navigation">
    <div class="grid-container">
        <div class="grid-item1">
            <img src="/images/logo.png" alt="logo" class="logo-img">
        </div>
        <div class="grid-item2 small-grid-container">
            {{ nav | raw }}
        </div>
    </div>
</nav>
<a href="/home" class="go-back"><h3>🡰 Tillbaka</h3></a>
<section class="main-content">
    <div class="user">
        <img src="/images/user.png" alt="user" class="user-logo">
        <a href="#">Ändra Profilbild</a>
    </div>
    <div class="info-card">
        <h2 class="name">{{ firstname }} {{ lastname }}</h2>
        <p class="username">{{ username }}</p>
        <hr>
        <p class="card-info">{{ personNr }}</p>
        <p class="card-info">{{ spec }}</p>
        <p class="card-info">Antal besök: {{ amountMeetings }}</p>
        <p class="card-info">{{ email }}</p>
    </div>
</section>
</body>
</html>